@charset "UTF-8";
@keyframes cards-appearance {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes title-appearance {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes border-appearance {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes checkbox {
  0% {
    transform-origin: right;
    width: 0;
    opacity: 0;
  }
  100% {
    width: 60px;
    opacity: 1;
  }
}
@keyframes icon {
  0% {
    transform: translateX(50px) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes like {
  0% {
    transform-origin: center;
    scale: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes -like {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes load {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
  }
}
@keyframes -load {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
  }
}
@keyframes close {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
h1, h2, h3, p {
  margin: 0;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

body {
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

.presentation__explore, .menu__button {
  width: 220px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 4ex;
  margin: 30px 72px;
  font-size: 100%;
  background: #FF79DA;
  background: linear-gradient(175deg, #ff46cc, #9356DC);
  box-shadow: 0px 5px 5px -1px #e5e5e5;
  transition: all 400ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation__explore a, .menu__button a {
  color: white;
}
.presentation__explore:hover, .menu__button:hover {
  background: #ff93e1;
  background: linear-gradient(175deg, #ff60d3, #9356DC);
  box-shadow: 0px 5px 5px 1px #bfbfbf;
}

.menu__header i {
  font-size: 150%;
}

.custom-checkbox .checked {
  opacity: 0;
  position: absolute;
  top: 12px;
  left: 8px;
  width: 24px;
  height: 24px;
}
.custom-checkbox .checked--menu {
  opacity: 0;
  position: relative;
  top: 3px;
  width: 24px;
  height: 24px;
  left: -28px;
}

.custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: #9356DC;
  animation: 500ms ease-in 50ms 1 normal both running like;
}
.custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  animation: 500ms ease-out 50ms 1 normal both running -like;
}

.checkbox-menu .checked {
  opacity: 0;
  width: 0;
}

.checkbox-menu input[type=checkbox]:checked ~ .checked {
  background-color: #99E2D0;
  width: 60px;
  height: 68px;
  border-top-right-radius: 2ex;
  border-bottom-right-radius: 2ex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: 500ms ease 0ms 1 normal both running checkbox;
}
.checkbox-menu input[type=checkbox]:checked ~ .checked i {
  color: white;
  animation: 350ms ease 250ms 1 normal both running icon;
}

.text__checked {
  display: none;
}

.text__unchecked {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 260px;
  height: 43px;
  margin: 11px 27px 10px 9px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
}

#plate-1:checked ~ .text__checked, #plate-2:checked ~ .text__checked, #plate-3:checked ~ .text__checked, #plate-4:checked ~ .text__checked, #plate-5:checked ~ .text__checked, #plate-6:checked ~ .text__checked, #plate-7:checked ~ .text__checked, #plate-8:checked ~ .text__checked, #plate-9:checked ~ .text__checked, #plate-10:checked ~ .text__checked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 43px;
  margin: 11px 27px 10px 9px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
}

#plate-1:checked ~ .text__unchecked, #plate-2:checked ~ .text__unchecked, #plate-3:checked ~ .text__unchecked, #plate-4:checked ~ .text__unchecked, #plate-5:checked ~ .text__unchecked, #plate-6:checked ~ .text__unchecked, #plate-7:checked ~ .text__unchecked, #plate-8:checked ~ .text__unchecked, #plate-9:checked ~ .text__unchecked, #plate-10:checked ~ .text__unchecked {
  display: none;
}

.plate-1, .plate-2, .plate-3, .plate-4, .plate-5, .plate-6, .plate-7, .plate-8, .plate-9, .plate-10 {
  position: relative;
}

.plate_label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header {
  width: 100%;
  z-index: 1;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  box-shadow: 0px 5px 5px -1px #e5e5e5;
}
@media screen and (min-width: 1024px) {
  .header__menu {
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.header__menu__arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 23px;
  margin-right: 32px;
  margin-top: 22px;
  margin-bottom: 11px;
  font-size: 160%;
}
@media screen and (min-width: 1024px) {
  .header__menu__arrow {
    justify-self: flex-start;
  }
}
.header__menu__logo {
  margin-top: 22px;
  margin-bottom: 11px;
  align-items: center;
  margin-right: 100px;
  width: 80%;
}
@media screen and (min-width: 1024px) {
  .header__menu__logo {
    width: 170px;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}

body {
  height: fit-content;
}
@media screen and (min-width: 1024px) {
  body {
    width: 400px;
    position: relative;
    margin: auto;
    background-color: #353535;
  }
}

.banner {
  height: 260px;
  width: 100%;
  object-fit: cover;
}
.banner--palette {
  background-image: url(../../images/restaurants/palette_du_gout.jpg);
  background-size: cover;
  background-position: center;
}
.banner--note {
  background-image: url(../../images/restaurants/note_enchantée.jpg);
  background-size: cover;
  background-position: center;
}
.banner--french {
  background-image: url(../../images/restaurants/a_la_francaise.jpg);
  background-size: cover;
  background-position: center;
}
.banner--sense {
  background-image: url(../../images/restaurants/delice_des_sens.jpg);
  background-size: cover;
  background-position: center;
}

.menu {
  background-color: #f6f6f6;
  padding-top: 38px;
  margin-top: -38px;
  border-top-right-radius: 5ex;
  border-top-left-radius: 5ex;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__border {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin: 0 0 15px 20px;
  align-self: flex-start;
  animation: 750ms ease 250ms 1 normal both running border-appearance;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 160%;
}
.menu h2 {
  font-size: 120%;
  font-weight: 300;
  text-transform: uppercase;
  margin: 18px 0 9px 20px;
  align-self: flex-start;
  animation: 750ms ease 100ms 1 normal both running title-appearance;
}
.menu h3 {
  font-size: 110%;
  font-weight: 500;
  margin: 3px;
}
.menu p {
  margin: 3px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 19px 19px;
  width: 320px;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.menu__plates {
  display: flex;
  background-color: white;
  height: 68px;
  width: 350px;
  margin: 10px 7px;
  border-radius: 2ex;
  box-shadow: 0px 5px 5px -1px #e5e5e5;
}
.menu__plates__price {
  font-size: 100%;
  font-weight: 700;
  color: #353535;
  margin: 42px 21px 15px 0;
}
.menu__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.checkbox-menu {
  width: 350px;
  height: 68px;
}

.plate-1 {
  animation: 750ms ease 200ms 1 normal both running cards-appearance;
}

.plate-2 {
  animation: 750ms ease 300ms 1 normal both running cards-appearance;
}

.plate-3 {
  animation: 750ms ease 400ms 1 normal both running cards-appearance;
}

.plate-4 {
  animation: 750ms ease 500ms 1 normal both running cards-appearance;
}

.plate-5 {
  animation: 750ms ease 600ms 1 normal both running cards-appearance;
}

.plate-6 {
  animation: 750ms ease 700ms 1 normal both running cards-appearance;
}

.plate-7 {
  animation: 750ms ease 800ms 1 normal both running cards-appearance;
}

.plate-8 {
  animation: 750ms ease 900ms 1 normal both running cards-appearance;
}

.plate-9 {
  animation: 750ms ease 1000ms 1 normal both running cards-appearance;
}

.plate-10 {
  animation: 750ms ease 1100ms 1 normal both running cards-appearance;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
  animation: 0ms 2000ms 1 normal both running close;
  position: absolute;
  top: 350px;
  left: 70px;
}
.load__bar {
  background: #FF79DA;
  background: linear-gradient(175deg, #ff46cc, #9356DC);
  height: 100%;
  width: 3vh;
  animation: bars 700ms backwards 3 ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 140ms;
}
.load__bar--2 {
  animation-delay: 280ms;
}
.load__bar--3 {
  animation-delay: 420ms;
}
.load__bar--4 {
  animation-delay: 560ms;
}
.load__bar--5 {
  animation-delay: 700ms;
}

.loaded {
  opacity: 0;
  animation: 0ms ease 2000ms 1 normal both running load;
}

.loading {
  opacity: 1;
  margin: auto;
  height: 100%;
  position: sticky;
  top: 0px;
  bottom: 300px;
  left: 70px;
  animation: 0ms ease 2000ms 1 normal both running -load;
}

footer {
  background-color: #353535;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  footer {
    background-color: #7e7e7e;
  }
}

.footer__logo {
  padding: 26px 0 18px 25px;
}
.footer__logo a {
  font-family: "Shrikhand", cursive;
  color: white;
  width: 99px;
  height: 40px;
}

.footer__links {
  color: white;
  padding-bottom: 37px;
}
.footer__links i {
  margin: 0 10px 0 0;
}
.footer__links a {
  color: white;
}
.footer__links__a {
  margin: 10px 0 5px 25px;
}

.gototop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 30px;
  width: 60px;
  height: 70px;
  flex-wrap: wrap;
}
.gototop i {
  font-size: 150%;
  color: white;
}
.gototop p {
  color: white;
  font-weight: 600;
  font-size: 80%;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 104px;
  padding-right: 120px;
  z-index: 0;
}
.location__icon {
  margin: 16px 18px 16px 0;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: fit-content;
}
.presentation h1 {
  font-size: 120%;
  width: 235px;
  margin: 43px 0 10px 0;
}
.presentation h2 {
  font-size: 115%;
  font-weight: 200;
  width: 310px;
  margin: 10px 0 16px 0;
}

.instructions {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 52px 0;
  background-color: #ffff;
}
.instructions h2 {
  margin: 0 0 21px 0;
}
.instructions__steps {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 11px 0;
  width: 335px;
}
.instructions__steps:hover i {
  color: #9356DC;
}
.instructions__steps__text {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 322px;
  height: 73px;
  background-color: #f6f6f6;
  z-index: 1;
  border-radius: 3ex;
  font-size: 100%;
  font-weight: 600;
  box-shadow: 0px 5px 5px -1px #e5e5e5;
  cursor: pointer;
}
.instructions__steps__text i {
  margin-right: 20px;
  margin-left: 33px;
  font-size: 120%;
  color: #7e7e7e;
}
.instructions__steps__text:hover {
  background-color: #f2eafb;
  box-shadow: 0px 5px 5px 1px #bfbfbf;
}
.instructions__steps__num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 80%;
  background-color: #9356DC;
  z-index: 2;
  margin-right: -11px;
  color: white;
  border-radius: 5ex;
}

main {
  height: fit-content;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.restaurants h2 {
  margin: 58px 0 18px 21px;
  font-weight: 700;
  font-size: 140%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: fit-content;
  margin: 0 0 55px 0;
}
.cards__new {
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 30px;
  position: relative;
  top: -240px;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 0.3ex;
}
.cards__new--empty {
  background-color: none;
  color: none;
  width: 80px;
  height: 30px;
  position: relative;
  top: -240px;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cards__restaurant {
  width: 335px;
  height: 250px;
  box-shadow: 0px 5px 5px -1px #e5e5e5;
  margin: 9px 20px;
  border-radius: 3ex;
}
.cards__restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 19px 24px 19px 14px;
}
.cards__restaurant__description h3 {
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 7px;
}
.cards__restaurant__description p {
  font-weight: 300;
}
.cards__restaurant__like {
  font-size: 150%;
  font-weight: 200;
  position: relative;
  top: -100px;
  left: 120px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cards__restaurant__image {
  height: 174px;
  border-radius: 3ex 3ex 0 0;
}
.cards__restaurant__image--palette {
  background-image: url(../../images/restaurants/palette_du_gout.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--note {
  background-image: url(../../images/restaurants/note_enchantée.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--french {
  background-image: url(../../images/restaurants/a_la_francaise.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--sense {
  background-image: url(../../images/restaurants/delice_des_sens.jpg);
  background-size: cover;
  background-position: center;
}

.step-1 {
  animation: 750ms ease 2200ms 1 normal both running cards-appearance;
}

.step-2 {
  animation: 750ms ease 2300ms 1 normal both running cards-appearance;
}

.step-3 {
  animation: 750ms ease 2400ms 1 normal both running cards-appearance;
}

.text-1 {
  animation: 750ms ease-in-out 2250ms 1 normal both running title-appearance;
}

.text-2 {
  animation: 750ms ease-in-out 2350ms 1 normal both running title-appearance;
}

.text-3 {
  animation: 750ms ease-in-out 2450ms 1 normal both running title-appearance;
}

/*# sourceMappingURL=style.css.map */
