@keyframes cards-appearance {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes title-appearance {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes checkbox {
  0% {
    transform-origin: right;
    transform: translateX(50px) scaleX(0);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0px) scaleX(1);
    opacity: 1;
  }
}
@keyframes icon {
  0% {
    transform: translateX(50px) rotate(360deg);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
h1, h2, h3, p {
  margin: 0;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

body {
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}

.presentation__explore, .menu__button {
  width: 220px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 3ex;
  margin: 15px 0 57px 0;
  background: #FF79DA;
  background: linear-gradient(175deg, #ff46cc, #9356DC);
  box-shadow: 0px 5px 5px 1px #e5e5e5;
}

.menu__plates__select img {
  width: 20px;
  height: 20px;
}

.cards__restaurant__like {
  position: relative;
  top: -60px;
  left: 120px;
}

.menu__header i {
  font-size: 150%;
}

.custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: #9356DC;
}
.custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-menu .checked {
  display: none;
}

.checkbox-menu input[type=checkbox]:checked ~ .checked {
  background-color: #99E2D0;
  width: 60px;
  height: 68px;
  border-top-right-radius: 2ex;
  border-bottom-right-radius: 2ex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: 500ms ease 100ms 1 normal both running checkbox;
}
.checkbox-menu input[type=checkbox]:checked ~ .checked i {
  color: white;
  animation: 350ms ease 250ms 1 normal both running icon;
}
.checkbox-menu input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.header {
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px 1px #e5e5e5;
}
.header__menu__arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 23px;
  margin-right: 32px;
  margin-top: 22px;
  margin-bottom: 11px;
  font-size: 160%;
}
.header__menu__logo {
  margin-top: 22px;
  margin-bottom: 11px;
  align-items: center;
  margin-right: 106px;
  width: 80%;
}

body {
  height: fit-content;
}

.banner {
  height: 260px;
  width: 100%;
  object-fit: cover;
}
.banner--palette {
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.banner--note {
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.banner--french {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.banner--sense {
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.menu {
  background-color: #f6f6f6;
  padding-top: 38px;
  margin-top: -38px;
  border-top-right-radius: 5ex;
  border-top-left-radius: 5ex;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__border {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin: 0 0 15px 20px;
  align-self: flex-start;
  animation: 750ms ease 100ms 1 normal both running title-appearance;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 150%;
}
.menu h2 {
  font-size: 120%;
  font-weight: 300;
  text-transform: uppercase;
  margin: 18px 0 9px 20px;
  align-self: flex-start;
  animation: 750ms ease 100ms 1 normal both running title-appearance;
}
.menu h3 {
  font-size: 110%;
  font-weight: 500;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 19px 19px;
}
.menu__cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.menu__plates {
  display: flex;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-end;
  height: 68px;
  width: 350px;
  margin: 10px 7px;
  border-radius: 2ex;
  box-shadow: 0px 5px 5px 1px #e5e5e5;
}
.menu__plates__text {
  width: 260px;
  height: 43px;
  margin: 11px 27px 10px 9px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plates__price {
  font-size: 100%;
  font-weight: 700;
  color: #353535;
  margin: 42px 21px 15px 0;
}
.menu__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.checkbox-menu {
  width: 350px;
  height: 68px;
}

.plate-1 {
  animation: 750ms ease 200ms 1 normal both running cards-appearance;
}

.plate-2 {
  animation: 750ms ease 300ms 1 normal both running cards-appearance;
}

.plate-3 {
  animation: 750ms ease 400ms 1 normal both running cards-appearance;
}

.plate-4 {
  animation: 750ms ease 500ms 1 normal both running cards-appearance;
}

.plate-5 {
  animation: 750ms ease 600ms 1 normal both running cards-appearance;
}

.plate-6 {
  animation: 750ms ease 700ms 1 normal both running cards-appearance;
}

.plate-7 {
  animation: 750ms ease 800ms 1 normal both running cards-appearance;
}

.plate-8 {
  animation: 750ms ease 900ms 1 normal both running cards-appearance;
}

.plate-9 {
  animation: 750ms ease 1000ms 1 normal both running cards-appearance;
}

.plate-10 {
  animation: 750ms ease 1100ms 1 normal both running cards-appearance;
}

footer {
  background-color: #353535;
  height: fit-content;
}

.footer__logo {
  padding: 26px 0 18px 25px;
}
.footer__logo a {
  font-family: "Shrikhand", cursive;
  color: white;
  width: 99px;
  height: 40px;
}

.footer__links {
  color: white;
  padding-bottom: 37px;
}
.footer__links i {
  margin: 0 10px 0 0;
}
.footer__links a {
  color: white;
}
.footer__links__a {
  margin: 10px 0 5px 25px;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 104px;
  padding-right: 120px;
}
.location__icon {
  margin: 16px 18px 16px 0;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: fit-content;
}
.presentation h1 {
  font-size: 120%;
  width: 235px;
  margin: 43px 0 10px 0;
}
.presentation h2 {
  font-size: 115%;
  font-weight: 200;
  width: 310px;
  margin: 10px 0 16px 0;
}

.instructions {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 52px 0;
}
.instructions h2 {
  margin: 0 0 21px 0;
}
.instructions__steps {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 11px 0;
  width: 335px;
}
.instructions__steps:hover i {
  color: #9356DC;
}
.instructions__steps__text {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 322px;
  height: 73px;
  background-color: #f6f6f6;
  z-index: 1;
  border-radius: 3ex;
  font-size: 100%;
  font-weight: 600;
  box-shadow: 0px 5px 5px 1px #e5e5e5;
}
.instructions__steps__text i {
  margin-right: 20px;
  margin-left: 33px;
  font-size: 120%;
  color: #7e7e7e;
}
.instructions__steps__text:hover {
  background-color: #f2eafb;
  box-shadow: 0px 5px 5px 1px #bfbfbf;
}
.instructions__steps__num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 80%;
  background-color: #9356DC;
  z-index: 2;
  margin-right: -11px;
  color: white;
  border-radius: 5ex;
}

main {
  height: fit-content;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.restaurants h2 {
  margin: 58px 0 18px 21px;
  font-weight: 700;
  font-size: 140%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: fit-content;
  margin: 0 0 55px 0;
}
.cards__restaurant {
  width: 335px;
  height: 250px;
  box-shadow: 0px 5px 5px 1px #e5e5e5;
  margin: 9px 20px;
  border-radius: 3ex;
}
.cards__restaurant__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 19px 24px 19px 14px;
}
.cards__restaurant__description h3 {
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 7px;
}
.cards__restaurant__description p {
  font-weight: 300;
}
.cards__restaurant__like {
  font-size: 150%;
  font-weight: 200;
}
.cards__restaurant__like::hover {
  color: #FF79DA;
  color: linear-gradient(#ff46cc, #9356DC);
}
.cards__restaurant__image {
  height: 174px;
  border-radius: 3ex 3ex 0 0;
}
.cards__restaurant__image--palette {
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--note {
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--french {
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.cards__restaurant__image--sense {
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.step-1 {
  animation: 750ms ease 200ms 1 normal both running cards-appearance;
}

.step-2 {
  animation: 750ms ease 300ms 1 normal both running cards-appearance;
}

.step-3 {
  animation: 750ms ease 400ms 1 normal both running cards-appearance;
}

.text-1 {
  animation: 750ms ease-in-out 250ms 1 normal both running title-appearance;
}

.text-2 {
  animation: 750ms ease-in-out 350ms 1 normal both running title-appearance;
}

.text-3 {
  animation: 750ms ease-in-out 450ms 1 normal both running title-appearance;
}

.card-1 {
  animation: 750ms ease-in-out 1000ms 1 normal both running cards-appearance;
}

.card-2 {
  animation: 750ms ease-in-out 1200ms 1 normal both running cards-appearance;
}

.card-3 {
  animation: 750ms ease-in-out 1400ms 1 normal both running cards-appearance;
}

.card-4 {
  animation: 750ms ease-in-out 1600ms 1 normal both running cards-appearance;
}

/*# sourceMappingURL=style.css.map */
