@keyframes cards-appearance {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes title-appearance {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes checkbox {
    0% {
        transform-origin: right;
        width: 0;
        opacity: 0;
    }

    100% {
        width: 60px;
        opacity: 1;
    }
}

@keyframes icon {
    0% {
        transform: translateX(50px) rotate(360deg);
        opacity: .1;
    }

    100% {
        transform: translateX(0px) rotate(-0deg);
        opacity: 1;
    }
}
@keyframes like {
    0%{
        scale: .1;
        opacity: .1;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
@keyframes -like {
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 0;
        opacity: 0;
    }
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}
@keyframes load {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
    }
}
@keyframes -load {
    from {
        opacity: 1;
        
    }
    to {
        display: none;
        opacity: 0;
    }
}
@keyframes close {
    from {
        scale: 1;   
    }
    to {
        scale: 0;
    }
}
