$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-2: #eaeaea;
$color-bg-1: #f6f6f6;
$color-bg-3: #ffff;
$color-icons: #7e7e7e;
$color-prices: #353535;
$size: 3vh;
$anim-dur: 700ms;
$num-bars: 5;
$anim-delay: $anim-dur / $num-bars;