.menu__header i{
    font-size: 150%;
}

.custom-checkbox .checked {
    opacity: 0;
    position: absolute;
    top: 12px;
    left: 8px;
    width: 24px;
    height: 24px;
    &--menu{
      opacity: 0;
      position: relative;
      top: 3px;
      width: 24px;
      height: 24px;
      left: -28px
    }
  }
  .custom-checkbox input[type="checkbox"]{
      &:checked~.checked {
        display: inline-block;
        color: $color-primary;
        animation: 500ms ease-in 50ms 1 normal both running like;
      }
      &:checked~.unchecked {
        animation: 500ms ease-out 50ms 1 normal both running -like;
      }
  }

  .checkbox-menu .checked {
    opacity: 0;
    width: 0;
  }
  .checkbox-menu input[type="checkbox"]{
      &:checked~.checked {
        background-color: $color-tertiary;
        width: 60px;
        height: 68px;
        border-top-right-radius: 2ex;
        border-bottom-right-radius: 2ex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        animation: 500ms ease 0ms 1 normal both running checkbox;
        i{
          color: white;
          animation: 350ms ease 250ms 1 normal both running icon;
        }
      }
  }