.menu__plates__select img{
    width: 20px;
    height: 20px;
}


.cards__restaurant__like{
    position: relative;
    top: -60px; left: 120px; 
}

.menu__header i{
    font-size: 150%;
}

.custom-checkbox .checked {
    display: none;
  }
  .custom-checkbox input[type="checkbox"]{
      &:checked~.checked {
        display: inline-block;
        color: $color-primary;
      }
      &:checked~.unchecked {
        display: none;
      }
  }

  .checkbox-menu .checked {
    display: none;
  }
  .checkbox-menu input[type="checkbox"]{
      &:checked~.checked {
        background-color: $color-tertiary;
        width: 60px;
        height: 68px;
        border-top-right-radius: 2ex;
        border-bottom-right-radius: 2ex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        animation: 500ms ease 100ms 1 normal both running checkbox;
        i{
          color: white;
          animation: 350ms ease 250ms 1 normal both running icon;
        }
      }
      &:checked~.unchecked {
        display: none;
      }
  }