


.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    animation: 0ms ease 3000ms 1 normal both running close;
    position: absolute;
    top: 500px;
    bottom: 500px;
    left: 100px;
    &__bar {
        @include auto-gradient-bg($color-secondary);
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards 3 ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}
.loaded{
    opacity: 0;
    animation: 0ms ease 3000ms 1 normal both running load;
}
.loading{
    opacity: 1;
    margin: auto;
    height: 100%;
    position: sticky;
    top: -400px;
    left: 50px;
    animation: 0ms ease 3000ms 1 normal both running -load;
}
