.header{
    width: 100%;
    z-index: 1;
    &__menu{
        display: flex;
        justify-content: space-between;
        background-color: $color-bg-3;
        @include box-shadow;
        @media screen and (min-width: 1024px){
            align-content: center;
            justify-content: center;
            text-align: center;
        }
        
        &__arrow{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 23px;
            margin-right: 32px;
            @include margin-header;
            font-size: 160%;

            @media screen and (min-width: 1024px){
                justify-self: flex-start;
            }
        }
        &__logo{
            @include margin-header;
            align-items: center;
            margin-right: 100px;
            width: 80%;
            @media screen and (min-width: 1024px){
                width: 170px;
                align-content: center;
                justify-content: center;
                text-align: center;
            }
                
        }
    }
}

